.contact_msg {
    background-color: var(--color-noactive);
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    max-width: 402px;
    margin-bottom: 5px;
    position: relative;
    cursor: default;
    &-time {
        position: absolute;
        bottom: 3px;
        right: 6px;
    }
}