<div class="form_login" >
  <div class="f-header">
    Вход
  </div>
  <form>
    <div class="input_login">
      {{> Input type="email" label="Логин" id="email" name="email"}}
    </div>
    <div class="input_pass">
      {{> Input type="password" label="Пароль" id="password" name="password"}}
    </div>
    <div class="buttons">
      {{> Button label="Авторизоваться" onClick="goToPage('profile')" type="submit" form="data"}}
      {{> Button label="Нет аккаунта?" onClick="goToPage('registration')" className="btn-white"}}
    </div>
  </form>
</div>