<div class="form_registration" >
  <div class="f-header">Регистрация</div>
  <form class="form_registration_inputs">
    {{> Input type="email" label="Почта" id="email" name="email"}}
    {{> Input type="login" label="Логин" id="login" name="login"}}
    {{> Input type="firstname" label="Имя" id="firstname" name="firstname"}}
    {{> Input type="lastname" label="Фамилия" id="lastname" name="lastname"}}
    {{> Input type="phone" label="Телефон" id="phone" name="phone"}}
    {{> Input type="password" label="Пароль" id="password" name="password_one"}}
    {{> Input type="password" label="Пароль (еще раз)" id="password" name="password_two"}}
  <div class="form_registration_buttons">
  {{> Button label="Зарегистрироваться" onClick="goToPage('profile')"}}
  {{> Button label="Войти" onClick="goToPage('login')" className="btn-white"}}
  </div>
  </form>  
</div>