{{#if state}}
  <div>
    {{{ModalWindowBack}}}
    <div class="modal_box">
      <div class="f-title">
        Добавить пользователя
      </div>
      <div class="input_login">
        <div class="text-field text-field_floating-3">
          {{{Login}}}
          <label class="text-field__label">
            Логин
          </label>
        </div>
      </div>
      {{{Button}}}
    </div>
  </div>
{{/if}}